{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-center">
      {% if "placeholder" in background.profile_image.url %}
      <img src="{% static 'images/nobody.jpg' %}" width="75%"
        alt="placeholder image" >
      {% else %}
      <img src="{{ background.profile_image.url }}" width="75%"
        alt="{{ about.title }}">
      {% endif %}
    </div>
    <div class="col-8">
      <!-- Title goes between these h2 tags -->
      <h2>{{ background.title }}</h2>
      <!-- Content goes directly underneath this -->
      {{ background.content | safe }}
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on field goes in here -->

      <p class="text-end"><em>Updated on: {{ background.updated_on }}</em></p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 my-5">
        <h2>Let us know know how much you love us!</h2>
        <p>Please get in touch to let us know your thoughts on anything Superheroes Unite related - good or bad!</p>

        <!-- add your form here. Your submit button should 
                            have the classes of btn, btn-secondary -->
        <form method="post">
          {{ testimonial_form | crispy }}
          {% csrf_token %}
          <button class="btn btn-secondary"
            type="submit">Submit</button>
        </form>
    </div>
  </div>
</div>
{% endblock content %}