{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-center">
      {% if "placeholder" in background.profile_image.url %}
      <img src="{% static 'images/nobody.jpg' %}" width="75%"
        alt="placeholder image" >
      {% else %}
      <img src="{{ background.profile_image.url }}" width="75%"
        alt="{{ about.title }}">
      {% endif %}
    </div>
    <div class="col-8">
      <!-- Title goes between these h2 tags -->
      <h2>{{ background.title }}</h2>
      <!-- Content goes directly underneath this -->
      {{ background.content | safe }}
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <!-- Updated on field goes in here -->

      <p class="text-end"><em>Updated on: {{ background.updated_on }}</em></p>
    </div>
  </div>
</div>
{% endblock content %}